@charset "UTF-8";
.navbar {
  background-color: #c0c0c0; /*#333 */
  margin:40px;
}
.navbar a{
 display: block; 
  color: white; 
  text-align: center; 
  padding: 14px 60px; 
  text-decoration: none; 
  margin:20px;
}
.navbar a:hover {
  background-color: #ddd; 
  color: black; 
}

body{
	background-image: url("bills.jpg");
	
}
.no-background{
	background-image: url("blank.jpg");
}
img.avatar {
  width: 40%;
  border-radius: 50%;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
.container {
  padding: 16px;
}

form{
	text-align:center;
}



.welcome{
	color:black;
}
